spring:
  datasource:
    url: jdbc:postgresql://${RDS_ENDPOINT:localhost}:${RDS_PORT:5432}/${RDS_DB:come2us}
    username: ${RDS_USERNAME:come2us}
    password: ${RDS_PASSWORD:come2us123}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        session.events.log.LOG_QUERIES_SLOWER_THAN_MS: 200
        default_batch_fetch_size: 100
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: never
      encoding: UTF-8

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE
