<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Spring 기본 설정 포함 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- Spring properties 가져오기 -->
    <springProperty scope="context" name="SERVICE_NAME" source="spring.application.name"/>
    <springProperty scope="context" name="ENV" source="spring.profiles.active" defaultValue="local"/>

    <!-- ============================= -->
    <!-- JSON stdout Log Appender     -->
    <!-- ============================= -->
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>

                <!-- timestamp -->
                <timestamp timeZone="Asia/Seoul" />

                <!-- JSON 구조 정의 -->
                <pattern>
                    <pattern>
                        {
                        "timestamp": "%date{ISO8601}",
                        "level": "%level",
                        "thread": "%thread",
                        "logger": "%logger",
                        "message": "%message",
                        "traceId": "%X{trace_id}",
                        "spanId": "%X{span_id}",
                        "service": "${SERVICE_NAME}",
                        "env": "${ENV}",

                        "productId": "%X{productId}",
                        "storeId": "%X{storeId}"
                        }
                    </pattern>
                </pattern>

                <!-- 스택 트레이스 -->
                <stackTrace />
            </providers>
        </encoder>
    </appender>

    <!-- DLQ 전용 JSON Appender -->
    <appender name="DLQ_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>

                <timestamp timeZone="Asia/Seoul" />

                <pattern>
                    <pattern>
                        {
                        "timestamp": "%date{ISO8601}",
                        "level": "%level",
                        "message": "%message",

                        "dlqProvider": "%X{dlqProvider}",
                        "dlqError": "%X{dlqError}",
                        "dlqTopic": "%X{dlqTopic}"
                        }
                    </pattern>
                </pattern>

                <stackTrace />
            </providers>
        </encoder>
    </appender>


    <logger name="DLQ_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="DLQ_JSON"/>
    </logger>

    <!-- ============================= -->
    <!-- Root Logger                  -->
    <!-- ============================= -->
    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

</configuration>