name: Develop PR CI & Test
on:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - develop

permissions:
  contents: read
  packages: read

jobs:
  build-test:
    if: ${{ (github.event_name == 'pull_request' && github.event.pull_request.base.ref == 'develop') || (github.event_name == 'push' && github.ref_name == 'develop') }}
    runs-on: ubuntu-latest

    env:
      GIT_USERNAME: ${{ secrets.GIT_USERNAME }}
      GIT_TOKEN: ${{ secrets.GIT_TOKEN }}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Run build & tests
        run: ./gradlew build